<script>
	import './styles.css';
	import Titlebar from '../components/Titlebar.svelte';

	document.addEventListener('contextmenu', event => event.preventDefault());
</script>

<div class="app">
	<Titlebar/>

	<main>
		<slot />
	</main>
</div>

<style>

</style>
