<script>
    import { onMount } from "svelte";
	import { readTextFile, writeTextFile } from '@tauri-apps/api/fs';
	import Input from "../components/Input.svelte";
	import PlayButton from "../components/PlayButton.svelte";

	let config = {};
	let nickname = '';
	let server = '';

	onMount(async () => {
		const contents = await readTextFile('./GothicCoopConfig.json');
		config = JSON.parse(contents);
		// @ts-ignore
		nickname = config.nickname;
		// @ts-ignore
		server = config.server;
	});

	async function saveConfig() {
		// @ts-ignore
		config.nickname = nickname;
		// @ts-ignore
		config.server = server;
		const contents = JSON.stringify(config, null, 2);
		await writeTextFile('./GothicCoopConfig.json', contents);
	}

	function onSaveConfig() {
		saveConfig();
	}
</script>

<svelte:head>
	<title>Gothic Cooperative</title>
	<meta name="description" content="Gothic Cooperative" />
</svelte:head>

<section>
	<div class="input-group">
		<Input label="Nazwa gracza" bind:value={nickname} />
		<Input label="Adres serwera" bind:value={server} />
	</div>
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<div class="play-button" on:click={onSaveConfig}>
		<PlayButton />
	</div>
</section>

<style>
	.input-group {
		position: fixed;
		top: 12%;
		left: 5%;
	}
	.play-button {
		position: fixed;
		right: 5%;
		bottom: 7%;
	}
</style>
