<script>
    export let label = '';
    export let value = '';
</script>

<div class="input-container">
    <div class="input-label">
        {label}
    </div>
    <input id="input" type="text" bind:value={value}>
</div>

<style>
    .input-container {
        margin-bottom: 25px;
    }
    .input-label {
        color: wheat;
        margin-bottom: 6px;
        text-align: center;
    }
    input {
        background-color: rgba(0,0,0,.65);
        border-color: rgba(0,0,0,.65);
        border-radius: 10px;
        border-style: solid;
        color: wheat;
        padding: 5px;
    }
</style>