<script>
    import { Command } from '@tauri-apps/api/shell';

    async function launch() {
        try {
            await new Command('GothicMod.exe').execute();
        } catch {
            await new Command('Gothic2.exe').execute();
        }
    }
</script>

<button class="play-button" on:click={launch}>ZAGRAJ TERAZ!</button>

<style>
    .play-button {
        color: #fff;
        font-size: 0.875rem;
        background-color: #EF4D48;
        border-color: #EF4D48;
        border-radius: 30px;
        border-style: solid;
        padding: 17px 40px;
        font-weight: 700;
        transition: all .3s;
    }
    .play-button:hover {
        background-color: #D90700;
        border-color: #D90700;
    }
</style>