<script>
    import { appWindow } from '@tauri-apps/api/window';
    import "bootstrap-icons/font/bootstrap-icons.css";
</script>

<div data-tauri-drag-region class="titlebar">
    <div class="titlebar-text">
        Gothic Cooperative
    </div>
    <div class="titlebar-buttons">
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div class="titlebar-button" on:click={appWindow.minimize}>
            <i class="bi bi-dash-lg titlebar-button-dash"></i>
        </div>
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <div class="titlebar-button" on:click={appWindow.close}>
            <i class="bi bi-x-lg"></i>
        </div>
    </div>
</div>

<style>
	.titlebar {
		height: 30px;
		background: #EF4D48;
        user-select: none;
        top: 0;
		left: 0;
		right: 0;
		position: fixed;
        display: flex;
        justify-content: space-between;
	}
    .titlebar-text {
        position: relative;
        top: 5px;
        left: calc(40% + 4px);
    }
    .titlebar-buttons {
        display: flex;
		justify-content: flex-end;
    }
	.titlebar-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
	}
    .titlebar-button-dash {
        margin-top: auto;
    }
	.titlebar-button:hover {
		background: #D90700;
	}
</style>